@model dynamic
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Message</h1>
<hr />
<div>
    <form id="form" method="post" target="_blank" action="Contact.cshtml" onfocus="this.value=''">
        <div class="inp_h">
            <input required type="text" name="firstname" value="First name:" class="inp_2" onfocus="this.value=''" />
        </div>
        <div class="inp_h">
            <input required type="text" name="lastname" value="Last name:" class="inp_2" onfocus="this.value=''" />
        </div>
        <div class="inp_h">
            <input required type="email" name="email" value="Your email address:" class="inp_2" onfocus="this.value=''" />
        </div>
        <div>
            <textarea required name="message" class="inp_3" rows="30" cols="30" onfocus="this.value=''">
                Message:
            </textarea>
        </div>
        <div>
            <a href="#" onclick="document.getElementById('form').reset()">
                <img src="~/Content/clear.jpg" style="border:0px none" />
            </a>
        </div>
        <img src="~/Content/border.gif" style="border: 12px" />
        <div>
            <a href="#" onclick="document.getElementById('form').submit()">
                <img src="~/Content/submit.jpg" style="border: 0px none" />
            </a>
        </div>
    </form>
</div>