
@model dynamic
@{
    ViewBag.Title = "DAC Construstion";
}

<div class="body-content">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div>
        @*<!--
            Canvas goes here
        -->*@
    </div>
</div>