@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,500,700,800');

/* Bower custom */

.projects-client section#media .container {
    max-width:90%;
}

.projects-client section#media .slick-list {
    margin-left:10px;
}

.projects-client .slick-slider {
    margin-bottom: 65px;
}

.projects-client .slick-prev:before, .slick-next:before {
    color:#000;
}

.projects-client .slick-slider li.slick-slide {
    margin-right:10px;
}

/* Site style */

.bright-blue {color:#009ddc;}
.dark-blue {color:#005dab;}
.darker-blue {color:#0a4e7b;}
.white {color:#fff;}
.light-gray {color#666;}
.light-gray-ptrn {background-image:url(../img/backgrounds/light-gray-ptrn.jpg);background-repeat:repeat;}
.justify p {
    text-align: justify;
}

/* honeypot */
#favoriteCar {
    display:none;
}

.pointer {
    cursor: pointer;
}

hr {
    border-color:#A9A9A9;
}

.large-p p {
    font-size:20px;
    line-height:36px;
}

.affixed-0 {
    top:0;
    background-color: #D2D2D2;
    padding: 30px;
}

.fa {
    margin:0 5px 5px;
}

.fa-menu {
    position: relative;
    bottom: -4px;
}

#menuExpand {
    margin-top:22px;
}

.posabs-b0 {
    position:absolute;
    bottom:0;
}

.abs-100w {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

a.rm-std {
    display:block;
    max-width:40%;
    padding:5px 20px;
    background-color:#0a4e7b;
    color:#fff;
    border:2px solid #0a3c5f;
    font-size:14px;
    text-align:center;
}

a.rm-std:hover {
    background-color:#009ddc;
    border-color: #0092cd;
    text-decoration: none;
}

.rm-center {
    display:inline-block;
    margin:0 auto;
}

.hero-heading {
    border-left: 25px solid rgba(25, 61, 118, 0.5);
    background-color: rgba(0,0,0,0.7);
}

.hero-heading h1 {
    text-align: center;
    font-weight:900;
    color: #009ddc;
    padding:20px;
    margin:0;
}

body {
    background-color:#ededed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    text-transform: uppercase;
}

/* search */

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url('http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png') no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #003870;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/*#hero .pg-heading {*/
    /*border-left: 25px solid rgba(25, 61, 118, 0.5);*/
    /*background-color: rgba(0,0,0,0.7);*/
    /*padding: 20px;*/
    /*margin: 0 auto;*/
    /*color: #009ddc;*/
    /*font-weight: 900;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 70px;*/
    /*font-size: 4vw;*/
/*}*/

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

#hero {
    overflow:hidden;
}

#hero video {
    min-height:150px;
}

#hero-gallery .textbox {
    background-color:rgba(81,104,117,0.8);
}

#hero-gallery div.item {
    background-size:cover;
    background-position-y:50%;
    background-repeat: no-repeat;
    height:40vw;
}

.home .carousel-control {
    top:40%;
    bottom:40%;
}

.home .carousel-indicators {
    bottom:0;
    left: 0;
    width: auto;
    margin-left:6%;
}

#hero-gallery .textbox h2 {
color:#009ddc;
padding:15px;
border-left:10px solid #0a4e7b;
background:#000;
font-weight:700;
}

#hero-gallery .textbox p {
    color:#f1f1f1;
}

#hero-gallery .textbox .rm-std {
    margin-left:20px;
}

body.bc-home #hero {
    min-height:200px;
    max-height:600px;
}

body.bc-projects #hero, body.bc-services #hero {
    min-height:200px;
    max-height:400px;
}

body.bc-client #hero {
    min-height:200px;
    max-height:500px;
}

#top-nav {
    background-image: url(../img/backgrounds/light-gray-ptrn.jpg);
    background-repeat: repeat;
    font-size: 11px;
    padding:5px 0;
}

#top-nav .row div {
    height:40px;
    border-right:1px solid #333;
    padding-top:3px;
}
#top-nav .row div ul {
    margin-bottom:0;
}
#top-nav .row div:last-child {
    border-right: none;
}

.news-item h2 {
    margin-top:0;
}

#main-nav {
    background-color:#fff;
    font-size:20px;
    margin-bottom:0;
    border-bottom:1px solid #ccc;
    border-radius: 0;
    font-family: "Raleway";
    font-weight: 700;
    text-transform: uppercase;
}

#main-nav .navbar-nav>li>a {
    padding:45px 20px 30px;
}

#main-nav .navbar-brand {
    height:86px;
    padding:10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color:#005dab;
    color:#fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color:#005dab;
    color:#fff;
}

nav#bc {
    margin:0;
    padding:5px;
    color:#ccc;
    background-color: rgba(44, 44, 44, 0.1);
    font-size:13px;
}

nav#bc ul {
    margin:0;
}

nav#bc a {
    color:#fff;
}

nav#bc a:hover {
    text-decoration: none;
    color:#000;
}

/* ------------                     ------------ */
/* ------------      NEWSLETTER     ------------ */
/* ------------                     ------------ */

#newsletter {
    background: #e2d84f;
    padding:20px 0;
}

#newsletter h2 {
    margin-top:0;
    font-weight:700;
}

#newsletter input {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 25px;
    padding: 30px;
}

#newsletter .btn, #contactform .btn {
    background:#005dab;
    color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:1px solid #003870;
    padding:11px 50px;
    font-size:25px;
    font-family: 'lato';
    font-weight: bold;
    font-style: italic;
}

/* sidebar contact form */
.nwsl-btn {
    margin:15px 0;
    display:block;
    background:#005dab;
    color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:1px solid #003870;
    padding:11px 50px;
    font-size:16px;
    font-family: 'lato';
    font-weight: bold;
    font-style: italic;
}

/* ------------                     ------------ */
/* ------------       FOOTER        ------------ */
/* ------------                     ------------ */

footer a.rm-std {
    max-width:70%;
}

footer address {
    padding-left:28px;
}

footer address .building {
    position:relative;
}

footer address .building:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-21px;
    content: "\f1ad";
}

footer#main {
    border-top:40px solid #EDEDED;
    background-image: url(../img/backgrounds/light-gray-ptrn.jpg);
    background-repeat: repeat;
    position: relative;
    z-index:10;
}

footer h4 {
    color:#0a4e7b;
    font-weight: 500;
}

footer p, footer ul, footer a, footer address {
    color: #818181;
}

footer#main #sitemap hr {
    margin:4px 0;
}

#footer-top {
    margin-top:40px;
    margin-bottom:20px;
}

#footer-top .alignh4 {
    margin-top:46px;
}

#abs-bottom {
    background-color: #0a4e7b;
    padding:20px 0;
}

#abs-bottom p {
    color:#E5E5E5;
}

/* ------------                     ------------ */
/* ------------       HOME          ------------ */
/* ------------                     ------------ */

#feature #hr-h1 {
    font-family: 'Raleway';
    background-color:#fff;
}

#feature #hr-h1 h3 {
    font-weight:700;
}

#feature #hr-h1 ul {
    font-weight:400;
    padding:18px;
    margin:0;
}

#feature #hr-h1 ul li a {
    font-size:18px;
    padding:8px 10px 8px 30px;
    color:#666;
    text-decoration: none;
}

#feature #hr-h1 ul li.active a {
    background-image:url('img/orion-tabs.jpg');
    background-repeat: no-repeat;
    background-position-x: -3px;
}

.services-index h1 {
    font-weight: 900;
}

/* ------------                     ------------ */
/* ------------    HERO - GLOBAL    ------------ */
/* ------------                     ------------ */

#hero-gallery .container {
    height:100%;
    position:relative;
}

#hero-gallery .textbox {
    position:absolute;
    padding:20px auto;
}

#hero-gallery .textbox p, #hero-gallery .textbox a {
    padding:0 20px;
    margin-bottom:15px;
    display:block;
}

#hero-gallery .textbox.sm {
    width: 22vw;
}

#hero-gallery .textbox.md {
    width: 35vw;
}

#hero-gallery .textbox.lg {
    width: 50vw;
}

#hero-gallery .textbox.left {
    float:left;
    left:0;
}

#hero-gallery .textbox.right {
    float:right;
    right:0;
}

#hero-gallery .textbox.center {
    margin:0 auto;
}

#hero-gallery .textbox.top {
    top:35px;
}

#hero-gallery .textbox.mid {
    top:50%;
}

#hero-gallery .textbox.bottom {
    bottom:35px;
}

@media (max-width:992px) {
    #hero-gallery .textbox.sm {
        width:50vw;
    }
}

.home .carousel-caption {
    right: 0;
    padding-bottom:20px;
    padding-top:0;
    text-align:left;
}

/* ------------                     ------------ */
/* ------------    TABBED CONTENT   ------------ */
/* ------------                     ------------ */




/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

.home #press h5 {
    color:#666;
}



body.bc-home #clients .client a {
    display:block;

}

#heroVideo {
    position: relative;
    width:100%;
    height: auto;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: initial;
}

#hero {
    position:relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-index #hero {
    background-image:url('/assets/img/pages/orion-contact-hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height:450px;
}

/* ------------                     ------------ */
/* ------------     ABOUT INDEX     ------------ */
/* ------------                     ------------ */

.heading-left {
    text-align: left;
}

.heading-right {
    text-align: right;
}

.heading-center {
    text-align: center;
}

.heading-full {
    text-align: justify;
}

#about-people p {
    font-size:16px;
    line-height: 22px;
}

.home #feature .tab-pane {
    padding:20px 0;
}

.home #feature .tab-pane h1 {
    font-family:'lato';
    font-weight:900;
}

.home #feature .tab-pane p {
    font-size: 22px;
    line-height: 40px;
}

.tab-heading-sm {
    font-size: 24px;
}

.tab-heading-md {
    font-size: 36px;
}

.tab-heading-lg {
    font-size: 60px;
}

.tab-pane h1 {
    font-size:60px;
    margin-top:0px;
}

/* ------------                     ------------ */
/* ------------     PRESS INDEX     ------------ */
/* ------------                     ------------ */

.press-index #hero {
    height:20vw;
}

.press-index .carousel-caption {
    border-left: 25px solid rgba(25, 61, 118, 0.5);
    background-color: rgba(0,0,0,0.7);
    right:0;
    left: auto;
    padding-bottom:20px;
    padding-right:100px;
    bottom:40px;
}

.press-index .carousel-caption a {
    text-align: center;
    font-weight: 900;
    color: #009ddc;
    padding: 20px;
    margin: 0;
    font-size:20px;
}

.press-index .carousel-indicators {
    left: auto;
    right:130px;
    margin:0;
    text-align: right;
    bottom:10px;
}


.press-index .carousel-control {
    top: auto;
    bottom:0;
    height:80px;
}

#press {
    background-color:#fff;
    padding:20px 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

#news-carousel {
    margin-bottom:20px;
}

ol.most li {
    border-bottom:1px solid #ccc;
}

#press div.news-item {
    border-left:3px solid #0a4e7b;
    margin-bottom:20px;
    padding-left:15px;
}

/* ------------                     ------------ */
/* ------------    PRESS ARTICLE       ------------ */
/* ------------                     ------------ */

.pressarticle-index nav#bc {
    color:#7493C2;
}

.prjcat nav#bc {
    color:#515151;
}

.pressarticle-index nav#bc a, .prjcat nav#bc a {
    color:#515151;
}

blockquote.right {
    float:right;
    width:50%;
    margin-left:15px;
    margin-bottom:20px;
    margin-top:10px;
}

blockquote.left {
    float:left;
    width:50%;
    margin-right:15px;
    margin-bottom:20px;
    margin-top:10px;
}

/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

section#clients {
    padding-top:10px;
}

#clients .container .row {
    margin-bottom:30px;
}

#clients .client {
    margin-bottom:20px;
}

#clients .client img {
    margin:15px auto;
}

#clients .client a {
    background-color:#fff;
    display:block;
    border:1px solid #ccc;
    height:123px;
}

#clients .client a:hover {
    border-color:#405b6a;
}

/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------      ORES-INDEX     ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

.ores-index #hero {
    margin-bottom:30px;
}

#ores-list ul {
    list-style:none;
    padding:0;
}

#ores-list ul li {
    color: #7B7B7B;
    border-bottom: 1px solid #C2C2C2;
    margin: 5px 0;
    padding: 5px 0;
    letter-spacing: 2px;
    text-align: center;
}

.lgtxt {
    text-align: justify;
}

/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------    PROJECTS-INDEX   ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

.prj-topleft {
    top:20px;
    bottom: auto;
    left:10px;
    right:auto;
}

.prj-btmleft {
    bottom:20px;
    top: auto;
    left:10px;
    right:auto;
}

.prj-topright {
    left: auto;
    right:10px;
    top:20px;
    bottom: auto;
}

.prj-btmright {
    right:10px;
    left: auto;
    top: auto;
    bottom:20px;
}

.projects-client ul.pd .fa-map-marker {
    margin-top:7px;
}

.projects-index #filters {
    background-color:#fff;
    padding:10px 0 20px;
}

.projects-index #hero {
    background-repeat: no-repeat;
    background-position: center center;
    height:450px;
}

.projects-index .nav>li>a:hover {
    background: #2098d1!important;
}

.projects-index .nav>li>a.hvr-icon-spin:hover {
    color:#fff;
}

.projects-index .nav>li>a.hvr-icon-spin {
    padding-right:40px!important;
}

.projects-index #projects {
    margin-top:20px;
    margin-bottom:20px;
}

.projects-index #projects .client-cat-add {
    font-size:12px;
    color:#666;
}

.projects-index img.brighten {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projects-index img.brighten:hover {
    -webkit-filter: brightness(110%);
}

.projects-index #projects h3 {
    font-family: 'Lato';
    font-weight: 500;
    line-height: 35px;
}

.projects-index #projects hr {
    width:40%;
    margin-left:0;
    border-bottom:1px solid #ccc;
}

.projects-index #projects div.client {
    min-height:340px;
}
/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------   PROJECTS-CLIENT   ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

.projects-client #hero {
    background-size: cover;
    height:45vw;
    position: relative;
}

.projects-client #hero h1 {
    position:absolute;
    padding:20px;
    font-size: 4.5vw;
    background-color: rgba(41, 44, 44, 0.5);
    color:#fff;
    border-left:25px solid rgba(25, 61, 118, 0.5);
    font-weight: 900;
}

.projects-client #hero h1.top-left {
    left:0;
    top:0;
}

.projects-client #hero h1.mid-left {
    left:0;
    bottom:50%;
}

.projects-client #hero h1.bottom-left {
    left:0;
    bottom:10%;
}

.projects-client #hero h1.top-right {
    right:0;
    top:0;
}

.projects-client #hero h1.mid-right {
    right:0;
    bottom:50%;
}

.projects-client #hero h1.bottom-right {
    right:0;
    bottom:10%;
}

.projects-client #hero h1.full-top {
    position:relative;
    top:0;
}

.projects-client #hero h1.full-mid {
    position:relative;
    bottom:50%;
}

.projects-client #hero h1.full-bottom {
    position:relative;
    bottom:0;
}

.projects-client #content .leftColumn {
    font-family: "Lato";
    font-size:18px;
    color:#555;
    font-weight: 400;
}

.projects-client #content ul.pd li {
    margin-bottom:10px;
}

.projects-client #content ul.pd2 li {
    margin-bottom:0px;
}

.projects-client #content .leftColumn span {
    font-weight: 300;
    color:#888;
}

.projects-client #content .leftColumn {
    border-left:5px solid #0a4e7b;
    padding-left:30px;
}

.projects-client h3 {
    font-weight: 700;
}

.projects-client section#media img {
    margin-bottom:20px;
}

.projects-client .rightColumn p, .projects-client .rightColumn ul {
    font-family:'Lato';
    font-weight:300;
    font-size:18px;
    line-height:30px;
    color:#666;
    margin-bottom:30px;
}

.projects-client .rightColumn ul {
    font-size:22px;
    line-height: 36px;
    font-weight:300;
    color:#0c3e68;
    list-style-type: square;
    margin-left:0;
    padding-left:22px;
}

.about-index h1 {
    font-weight:900;
}

.about-index .executive-name {
    color:#044276;
}

.about-index .executive-title {
    color: #525252;
    font-style: italic;
    font-weight: 900;
}

.projects-client .rightColumn blockquote, .pressarticle-index blockquote, .about-index blockquote {
    font-family:'Lato';
    font-size:22px;
    line-height: 36px;
    font-weight:300;
    color:#0c3e68;
    border-left:5px solid #0a4e7b;
}

.contact-left-col {
    padding-left:20px;
    border-left:5px solid #0a4e7b;
    font-size:22px;
}

#contactform ul.errors {
    list-style:none;
    padding:0;
    margin:10px 0;
}

#contactform ul.errors li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.container.video-container {
    position:absolute;
    top:0;
    width:100%;
}

#cc {
    position: relative;
}

/* ------------                     ------------ */
/* ------------                     ------------ */
/* ------------       @ MEDIA       ------------ */
/* ------------                     ------------ */
/* ------------                     ------------ */

@media (max-width: 768px) {
    .projects-client #hero h1 {
        position: absolute;
        padding: 5px;
        font-size: 11vw;
        letter-spacing: 1px;
        background-color: rgba(41, 44, 44, 0.5);
        color: #fff;
        border-left: 25px solid rgba(25, 61, 118, 0.5);
    }
    .projects-client #hero {
        height: 350px !important;
    }
}

@media (max-width: 730px) {
    #hero {
        background-position-y: 0px!important;
        background-size: cover;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        min-height:93px;
    }
    .ores-index .hero-heading {
        position: absolute;
        top: 54px;
    }
    .ores-index .hero-heading h1 {
        font-size:23px;
    }
    .large-p img {
        width:100%;
    }
    .pressarticle-index blockquote {
        float:none;
        width:100%;
    }
}

@media (min-width: 992px) {
    #top-nav .col-md-3 {
        width: 20%;
    }
    #top-nav .col-md-offset-3 {
        margin-left:34%;
    }
}

@media (min-width:992px) {
    .hero-heading {
        position:absolute;
        top:100px;
        text-indent: 1px;
        left:35vw;
    }
    .ores-index .hero-heading {
        left:22vw;
    }
    .contact-index .hero-heading {
        left:37vw;
    }
    .hero-heading h1 {
        font-size:4vw;
    }
    .lgtxt {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width:992px) {
    .contact-index .hero-heading, .ores-index .hero-heading, .services-index .hero-heading, .about-index .hero-heading {
        position: absolute;
        top: 54px;
    }
    .hero-heading {
        width: auto;
        text-indent: -25px;
    }
    .projects-index #hero {
        max-height:375px;
    }
    .projects-index .hero-heading {
        margin-top:100px;
    }
    #main-nav {
        background-color:#fff;
        font-size:14px;
        margin-bottom:0;
        border-bottom:1px solid #ccc;
        border-radius: 0;
        font-family: "Raleway";
        font-weight: 700;
        text-transform: uppercase;
    }
    #main-nav .navbar-nav>li>a {
        padding:45px 10px 30px;
    }
    .lgtxt {
        font-size:20px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    #main-nav {
        background-color:#fff;
        font-size:17px;
        margin-bottom:0;
        border-bottom:1px solid #ccc;
        border-radius: 0;
        font-family: "Raleway";
        font-weight: 700;
        text-transform: uppercase;
    }
    #main-nav .navbar-nav>li>a {
        padding:45px 12px 30px;
    }
}

@media (min-width:768px) and (max-width:992px) {
.contact-index .hero-heading {
    position:absolute!important;
    top:100px;
    left:37vw;
}
    .about-index .executive-name {
        clear:left;
    }
    .large-p img {
        margin:0 15px 10px 0;
    }
    .large-p h1 {
        clear:left;
    }
    .projects-client #hero {
        max-height:500px;
        background-position-y:0px!important;
    }
}

@media (max-width: 768px) {
    .large-p p {
        font-size: 17px;
        line-height: 28px;
    }
    .large-p img {
        margin:0 15px 10px 0;
    }
    .large-p h1 {
        clear:left;
    }
    .contact-index #hero {
        height:250px;
        overflow:visible;
    }
    .contact-index #hero #smartmap-mapcanvas-1 {
        height:250px!important;
    }
    .projects-index #hero {
        height:300px;
    }
    .press-index #news-carousel {
        height:52vw;
        overflow:hidden;
    }
    .about-index .executive-name {
        clear:left;
     }
    .about-index .executive-title {
        word-wrap: break-word;
    }
    nav#bc {
        display:none;
    }
    #feature #hr-h1 ul {
        padding:0;
    }
    #feature #hr-h1 ul li {
        width:45%;
        padding:15px;
        float:left;
    }
    #main-nav .navbar-nav>li>a {
        padding: 20px;
    }
    #top-nav .row div {
        height:auto;
    }
    .home #feature .tab-pane h1 {
        font-size:11vw;
    }
    .home #feature .tab-pane p {
        line-height: 1.3em;
    }
    #feature #hr-h1 ul li a {
        font-size:5vw;
    }
    #top-nav {
        padding:15px 0 10px 0;
    }
    #top-nav ul.nav {
        margin-bottom:0;
    }
    #top-nav .nav>li {
        border-bottom: 1px solid #E7E7E7;
    }
}

/* Video */
@media screen and (max-device-width: 800px) {
    #bgvid { display: none; }
}

#top-nav address {
    margin-bottom:0;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before, .slick-prev:before, .slick-next:before {
    color:#000!important;
    opacity: 1!important;
}